.wrapper {
  background-color: #8ec5fc !important;
  background: var(--light) !important;
  height: 100vh;
  position: fixed;
  box-shadow: 15px 15px 30px 15px #0000006c;
}

.logo {
  max-height: 65px;
}

.nav .nav__item {
  padding: 0.6rem 0;
  text-decoration: none !important;
  font-weight: 600;
  color: var(--secondary) !important;
  transition: 0.3s all ease-in-out;
  display: grid;
  grid-template-columns: 35px 1fr;
  font-size: 14px;
  cursor: pointer !important;
}

.nav .nav__item:global(.active) {
  color: var(--dark) !important;
}

.nav__item_text {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.nav__item:global(.active) .icon {
  background: linear-gradient(
    to right,
    #1fa2ff 0%,
    #12d8fa 51%,
    #1fa2ff 100%
  ) !important;
  border-radius: 50%;
  color: var(--white) !important;
}
.icon {
  height: 35px;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__item:hover {
  color: var(--dark) !important;
  transition: 0.3s all ease-in-out;
}

.right__item {
  text-decoration: none !important;
  color: var(--secondary) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid var(--secondary);
  margin-right: 10px;
  transition: 0.3s all ease-in-out;
}

.right__item:hover {
  color: var(--dark) !important;
  border: 1px solid var(--dark);
  transition: 0.3s all ease-in-out;
}

.ham {
  display: none;
}

.inner {
  background-color: #8ec5fc !important;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #dcc3fc 100%) !important;
  min-height: calc(100vh);
  right: 0;
  position: absolute;
}

@media screen and (max-width: 768px) {
  .wrapper {
    display: block;
    position: fixed;
    z-index: 9;
    width: 100%;
    left: -105%;
    min-height: 100vh !important;
    transition: 0.3s all ease-in-out;
  }

  .wrapper.active {
    left: 0;
    transition: 0.3s all ease-in-out;
  }

  .ham {
    display: block;
    text-decoration: none !important;
    color: var(--dark) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid var(--dark);
    margin-right: 10px;
    transition: 0.3s all ease-in-out;
  }
}
