.wrapper {
  height: 100svh;
  min-width: 300px;
  max-width: 400px;
  width: 100%;
  /* background-image: linear-gradient(
    120deg,
    #8ec5fc 0%,
    #dcc3fc 100%
  ) !important; */
  background: var(--light) !important;
  position: fixed;
  z-index: 2;
  right: -102vw;
  top: 0;
  bottom: 0;
  box-shadow: 20px 20px 40px 20px #00000070;
  transition: 0.5s all ease-in-out;
}

.wrapper.active {
  right: 0 !important;
  transition: 0.5s all ease-in-out;
}

.heading {
  background: linear-gradient(to right, #1fa2ff 0%, #12d8fa 51%, #1fa2ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.close {
  font-size: 30px;
  color: var(--primary);
  transition: 0.3s all ease-in-out;
}

.close:hover {
  color: var(--primary-hover);
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}

.btn {
  text-decoration: none;
  background-image: linear-gradient(
    to right,
    #1fa2ff 0%,
    #12d8fa 51%,
    #1fa2ff 100%
  );
  box-shadow: 5px 5px 10px 5px #0000002f !important;
  border: none;
  margin: 10px;
  padding: 8px 15px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  font-weight: 600;
  border-radius: 10px;
  display: block;
}

.btn:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.list__item:hover {
  cursor: pointer;
}

.list__item:global(.active) {
  background: linear-gradient(
    to right,
    #1fa2ff 0%,
    #12d8fa 51%,
    #1fa2ff 100%
  ) !important;
  border: none !important;
}
